Assignment B3

Part 1 (10 pts):

1. Must have a story with several characters
2. Include interactable objects
3. Must have background characters with idle activities
4. Characters must have different capabilities (i.e. gestures, object interaction)
5. Implement multi actor behaviors
6. The result of all of the above should be an animation telling your game's story, with slight changes each time it's executed

Part 2 (10 pts):

1. Design a complete interactive behavior tree
2. Attach human player controls to one character
3. Player must be able to interact with your story

Part 3 (10 pts):

1. Must have to ability to select ANY character in the scene and control it

EACH PART (PARTS 1 2 AND 3) MUST BE PLAYABLE INDIVIDUALLY